.background {
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
}

.{
    backgroundImage: `url(${backgroundImg})`,
        backgroundSize: "cover",
        backgroundPosition: "center",
        height: "100vh", // Adjust as needed
        width: "100vw", // Adjust as needed
}